<!DOCTYPE html>
<html>
<head>
	<title>View current time</title>
 <link rel="shortcut icon" href="/static/icon.jpg" type="image/x-icon">
	<script type="text/javascript"
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js">
</script>
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
</head>
<body>
<h1>{{usr}}</h1>
<h3>for view current time click on time!!!</h3>
<button onclick="play()" id="cn">Time</button>
<h1 id="result">...</h1>

<script>
function play(){
$.getJSON($SCRIPT_ROOT + '/_play',  function(data) {
var d = new Date();
document.getElementById("demo").innerHTML = d;
document.getElementById("cn").innerHTML="Now";
setTimeout(fun,4000);
});}
function fun(){
document.getElementById("cn").innerHTML="Time";
}
</script>
<style>#cn{font-size: 20px;}</style>
</body>
</html>
